html, body, #app{
	width: 100%;
	height: 100%;
	margin: 0;
}
a:visited{
	color: black;
}
a:active{
	color: black;
}

a:link{
	color: black;
}
/*header*/
.header{
	width: 100%;
	height: 100%;
	background-image: url('../img/header2.jpg');
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	font-family: impact;
}

.main-view{
	width: 70%;
	margin: auto;
}
.flex{
	display: flex;
}
.full-height{
	height: 100%;
}

.header h1{
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 5em;
	font-size: 3vw;
	margin-block-start: 0;
	margin-block-end: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.header h2{
	width: 100%;
	text-align: center;
	color: white;
	font-size: 1.1vw;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*about*/
.about{
	width: 100%;
	height: 65%;
}
.about-div{
	width: 50%;
	height: 100%;

}
.about-div img{
	width: 100%;
	height: 100%;
}

.about-description{
	height: 100%;
	width: 40%;
	padding: 2% 0 0 5%;
	text-align: justify;
}
.about-description h1{
	margin-block-start: 0.43em;
	font-family: "EB Garamond";
	font-size: 2.2vw;
}
.about-description p{
	font-family: "Raleway";
	font-size: 0.7vw;
}
#wspolpraca{
	padding-top: 8%;
	font-size: 0.8vw;
	transition: color 0.5s ease;
}
#wspolpraca:hover{
	color: grey;
	cursor: pointer;
}
.line{
	border-top: 2px solid black;
	width: 30%;
	padding-bottom: 7%;
}

/*sekcja portfolio*/

.portfolio{
	width: 100%;
	height: 1300px;
}
.gallery{
	width: 100%;
	height: 100%;
	/*display: flex;
	flex-direction: column;
	flex-wrap: wrap;*/
}

.first-column{
	width: 100%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
}
.second-column{
	width: 100%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
}

#first-subcolumn{
	height: 100%;
	max-width: 35%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#second-subcolumn{
	height: 100%;
	max-width: 30%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#third-subcolumn{
	height: 100%;
	max-width: 35%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#fourth-subcolumn{
	height: 100%;
	max-width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#fifth-subcolumn{
	height: 100%;
	max-width: 30%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#sixth-subcolumn{
	height: 100%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.one-third-height{
	height: 30%;
}
.two-third-height{
	height: 70%;
}
.row-img{
	width: 50%;
	height: 100%;
}
.full-img{
	width: 100%;
	height: 100%;
}
.col-img{
	width: 100%;
	height: 50%;
}
.portfolio img{
	width: 100%;
	height: 100%;
	
}
.overflow-h{
	overflow: hidden;
}

.portfolio img:hover{
	opacity: 0.4;
	transition: all 0.3s ease-in;
	cursor: pointer;
	width: 105%;
	height: 105%;
	
}


/*sekcja po galerii*/

.quotation{
	width: 100%;
	height: 100%;
	background-image: url(../img/about.jpg);
	background-size: cover;
	background-attachment: fixed;

}

.quotation h1{
	font-family: "EB Garamond";
	font-size: 3vw;
	width: 60%;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	margin: 0;
}

.relative{
	position: relative;
	left: 5%;
	top: 60%;
}


/*sekcja kontakt*/


.contact{
	width: 100%;
	height: 100%;
}

.contact-body{
	width: 100%;
	height: 100%;
	display: flex;
}

.contact-img{
	width: 50%;
	height: 100%;
}

.contact-img img{
	height: 100%;
	width: 100%;
}

.contact-form{
	width: 50%;
	height: 100%;
	font-family: "EB Garamond";

}

.contact-form-header{
	width: 60%;
	float: right;
	display: flex;
	flex-direction: column;
}
.contact-form-header h1{
	font-size: 2.5vw;
}

.contact-form-header p{
	color: grey;
	font-size: 1.1vw;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.contact-form-header .line{
	width: 10%;
}

.form{
	/*padding-top: 10%;*/
	float: right;
	width: 60%;
}
.form, .contact-form-header{
	height: 50%;
}
.form form{
	width: 90%;
}

.form input{
	margin-top: 6px;
	height: 18px;
	width: 100%;
}
.form textarea{
	margin-top: 6px;
	width: 100%;
	resize: none;
}
.form-button{
	width: 100%;

}

.form button{
	margin-top: 6px;
	width: 30%;
	height: 2.2em;
	background-color: #43444f;
	color: white;
	border: none;
	float: right;
	cursor: pointer;
	transition: all 0.5s ease;
}
.form button:hover{
	background-color: #a4a5ad;
	color: black;
}
/*footer*/

.footer{
	width: 100%;
	height: 55px;
	background-color: #43444f;
	font-family: "EB Garamond";
	font-size: 1.2vw;
	line-height: 55px;
	color: white;

}

.footer a{
	padding-left: 16%;
}

.footer a:visited{
	color: white;
}
.footer a:active{
	color: white;
}

/*nav menu*/
.nav{
	width: 100%;
	height: 80px;
	/*line-height: 80px;*/
	font-family: "EB Garamond";
	font-size: 1.2vw;
	background-color: white;
	color: black;
	transition: all 0.5s ease;
	

}
.fixed{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

}
.nav-menu{
	width: 30%;
	height: 100%;
	margin: auto;
	text-decoration: none;
	display: flex;
	justify-content: space-around;

}


.nav-menu a{
	width: 20%;
	line-height: 85px;
	text-align: center;
	text-decoration: none;
	transition: all 0.6s ease;
}

.nav-menu a:visited{
	color: black;
}

.nav-menu a:hover{
	background-color: black;
	color: white;
}
/*modal*/

.modal{
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 6;
}
.modal-body{
	background-color: white;
	height: 100%;
	width: 90%;
	margin: auto;
	position: relative;
}

.modal-body img{
	width: 100%;
	height: 100%;

}
.verticalImage{
	width: 60% !important;
}

#arrow-left, #arrow-right, #xmark{
	position: absolute;
	z-index: 7;
	font-size: 3vw;
	cursor: pointer;
	color: white;
}

#arrow-left{
	top: 49%;
	left: 3%;
}

#arrow-right{
	float: right;
	top: 49%;
	right: 3%;
}

#xmark{
	float: right;
	top: 3%;
	right: 3%;
}


/*media*/

@media screen and (max-width: 600px) {

	
	

	/*header*/
	.header{
		height: 30%;
	}
	.header h1{
		font-size: 4.5vw;
	}
	.header h2{
		font-size: 3.5vw;
	}


	/*about*/
	.about-mobile{
		display: flex;
		flex-direction: column;
	}
	.about-div{
		width: 100%;
		height: 50%;
	}
	#first-about{
		height: 45%
	}
	#second-about{
		height: 55%
	}
	.about-description{
		height: 50%;
		width: 30%;

		margin: auto;
		padding: 6% 0 0 2%;
		margin-bottom: 3%;
		text-align: justify;
	}
	.about-description h1{
		font-size: 2.6vw;
	}
	.about-description p{
		font-size: 1.2vw;
	}
	#wspolpraca{
		font-size: 1.2vw;
	}

	/*gallery*/

	.portfolio{
		height: auto;
	}
	.first-column{
		width: 100%;
		height: 50%;
		display: block;
	
	}
	.second-column{
		width: 100%;
		height: 50%;
		display: block;
	}

	#first-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#second-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#third-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}

	#fourth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#fifth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#sixth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;

	}
	.mobile-flex{
		flex-direction: column;
	}
	.mobile-flex div{
		width: 100%;
	}

	/*sekcja z cytatem*/
	.quotation{
		height: 50%;
	}

	/*contact*/
	.contact{
		height: 150%;
	}
	.contact-body{
		width: 100%;
		height: 50%;
		display: block;
	}
	.contact-img{
		width: 100%;
	}

	.contact-form{
		width: 100%;
		height: 100%;
		font-family: "EB Garamond";

	}

	.contact-form-header{
		width: 60%;
		height: 30%;
		text-align: center;
		float: none;
		display: block;
		margin: auto;
	}

	.contact-form-header .line{
		margin: auto;
	}

	.contact-form-header h1{
		font-size: 3.4vw;
	}
	.contact-form-header p {
		font-size: 1.9vw;
	}

	.form{
	/*padding-top: 10%;*/
		float: none;
		width: 60%;
		margin: auto;
	}
	.form form{
		width: 100%;
	}

	.form input{
		margin-top: 6px;
		height: 18px;
		width: 100%;
	}
	.form textarea{
		margin-top: 6px;
		width: 100%;
		resize: none;
	}
	.form-button{
		width: 60%;
		margin: auto;
	}

	.form button{
		margin-top: 6px;
		width: 110%;
		margin: auto;
		margin-top: 15%;
		height: 2.2em;
		background-color: #43444f;
		color: white;
		border: none;
		float: none;
		cursor: pointer;
		transition: all 0.5s ease;
	}
	.form button:hover{
		background-color: #a4a5ad;
		color: black;
	}

	/*footer*/
	.footer{
		height: 45px;
		line-height: 45px;
		font-size: 3vw;
	}
	.footer a{
		padding-left: 10%;
	}

	.footer a:visited{
		color: white;
	}
	.footer a:active{
		color: white;
	}
	/*nav*/
	.nav{
		width: 100%;
		height: 30px;
		/*line-height: 80px;*/
		font-family: "EB Garamond";
		font-size: 1.8vw;
		background-color: white;
		color: black;
		transition: all 0.5s ease;
		

	}
	.nav-menu{
		width: 30%;
		height: 100%;
		margin: auto;
		text-decoration: none;
		display: flex;
		justify-content: space-around;

	}


	.nav-menu a{
		width: 20%;
		line-height: 30px;
		text-align: center;
		text-decoration: none;
		transition: all 0.6s ease;
	}

	.nav-menu a:visited{
		color: black;
	}

	.nav-menu a:hover{
		background-color: black;
		color: white;
	}

	/*modal*/

	.modal{
		width: 100%;
		height: 100%;
		overflow: auto; 
		background-color: rgb(0,0,0); 
		background-color: rgba(0,0,0,0.4);
		position: fixed;
		top: 0%;
		left: 0%;
		z-index: 6;
	}
	.modal-body{
		background-color: white;
		height: 60%;
		width: 100%;
		margin: auto;
		position: relative;
		top: 15%;
	}

	.modal-body img{
		width: 100%;
		height: 100%;

	}
	.verticalImage{
		width: 80% !important;
		height: 80%;
		top: 5%;
	}

	#arrow-left, #arrow-right, #xmark{
		position: absolute;
		z-index: 7;
		font-size: 6vw;
		cursor: pointer;
		color: white;
	}

	#arrow-left{
		top: 49%;
		left: 3%;
	}

	#arrow-right{
		float: right;
		top: 49%;
		right: 3%;
	}

	#xmark{
		float: right;
		top: 3%;
		right: 3%;
	}
}



@media screen and (max-width: 900px) and (min-width: 601px){
	.quotation{
		height: 150%;
	}
	/*nav*/
	.nav{
		height: 40px;

	}
	.nav a{
		line-height: 40px;
	}
	/*header*/

	.header h1{
		font-size: 3.3vw;
	}
	.header h2{
		font-size: 2.5vw;
	}
	/*about*/
	.about{
		height: 100%;
	}
	.about h1 {
		font-size: 2.6vw;
	}
	.about p {
		font-size: 0.8vw;
	}
	/*contact*/
	.contact{
		height: 185%;
	}
	.form-button{
		width: 103%;
	}
	.form-button button{
		width: 100%;
	}

	.contact-form-header h1{
		font-size: 2.8vw;
	}

	.contact-form-header p{
		font-size: 1.3vw;
	}
	/*footer*/
	.footer{
		font-size: 2vw;
	}
	/*portfolio*/
	.portfolio{
		height: auto;
	}
	.first-column{
		width: 100%;
		height: 50%;
		display: block;
	
	}
	.second-column{
		width: 100%;
		height: 50%;
		display: block;
	}

	#first-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#second-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#third-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}

	#fourth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#fifth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;
	
	}
	#sixth-subcolumn{
		height: 50%;
		max-width: 100%;
		display: block;

	}
	.mobile-flex{
		flex-direction: column;
	}
	.mobile-flex div{
		width: 100%;
	}
}

@media screen and (max-width: 1400px) and (min-width: 901px){
	.about{
		height: 70%;
	}
}